<div class="admin-items-edit">
  <div class="container">
    <%= form_for(@item, html: {multipart: true}, :url => admin_item_path(@item) ) do |f| %>
      <p><%= f.label :title %></p>
      <p><%= f.text_field :title, :id => 'title', placeholder: "Title" %></p>

      <p><%= f.label :description %></p>
      <p><%= f.text_area :description, :id => 'description', placeholder: "Description" %></p>

      <p><%= f.label :price %></p>
      <p><%= f.text_field :price, :id => 'price', placeholder: "Price" %></p>

      <p><%= f.label :status %></p>
      <p><%= f.select :status, ['active', 'retired'] %></p>
      <p>
        <%= f.label :image, "Attach an Image" %><br />
        <%= f.file_field :image %>
      </p>
      <p><%= f.select(:categories, options_from_collection_for_select(Category.all, "id", "title", @item.categories.pluck(:title)),
                    {}, {multiple: true, size: Category.all.count}) %></p>
      <%= f.submit "Save Item", :id => 'save' %>
    <% end %>
  </div>
</div>
