<div class="container">

<table class="table">
        <thead>
          <tr>
            <th>Status</th>
            <th>Order Date</th>
            <th>No. Items Ordered</th>
            <th>Delivered To</th>
            <th>View Order</th>
          </tr>
        </thead>

        <tbody>
          <% @user.orders.each do |order|  %>

          <tr>
          <td><%= order.status %></td>
          <td><%= time_tag(order.created_at) %></td>
          <td><%= past_order_quantity(order.line_items) %></td>
          <td><%= address_delivered_to(order.address) %></td>
          <td><%= link_to "View Details", order_path(order.id) %></td>
        </tr>
    <% end %>
        </tbody>
    </table>
  </div>








</div>


