<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Account</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(@user, html: { id: "register-user" }) do |f| %>
          <%= f.text_field :name, placeholder: 'Name' %>
          <%= f.text_field :email, placeholder: 'Email' %>
          <%= f.text_field :username, placeholder: 'Username' %>
          <%= f.password_field :password, placeholder: 'Password' %>
          <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
          <%= f.submit 'Create Account', class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
