<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enter Your Delivery Information</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(Address.new, html: { id: "register" }) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_field :street_number %>
          <%= f.text_field :street %>
          <%= f.text_field :city %>
          <%= f.select :state, in: f.object.valid_state_code %>
          <%= f.text_field :zip %>
          <%= f.submit 'Save Address', class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
