<div class="order-form">
  <div class="container">
  <h1>Review Your Order</h1>
  <% if @address %>
      <h4>Here's the address we have on file for you:</h4>
      <ul>
        <h4><%= label_tag 'Street: ' %><%= @address.street_number %>&nbsp<%= @address.street %></h4>
        <h4><%= label_tag 'City: ' %><%= @address.city %></h4>
        <h4><%= label_tag 'State: ' %><%= @address.state %></h4>
        <h4><%= label_tag 'Zipcode: ' %><%= @address.zip %></h4>
      </ul>
      <%= form_for @order do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id.to_i %>
        <%= f.hidden_field :address_id, value: @address.id.to_i %>
        <%= f.hidden_field :status, value: 'ordered' %>
        <%= f.hidden_field :pickup_or_delivery, value: 'delivery' %>
        <%= f.hidden_field :line_items, value: cart.line_items %>
        <%= f.submit "Complete My Order", class: "btn btn-success btn-lg" %>
      <% end %>
    <% elsif @order.pickup_or_delivery == "Pickup" %>
  		<%= form_for @order do |f| %>
       	<%= f.hidden_field :user_id, value: current_user.id.to_i %>
        	<%= f.hidden_field :address_id, value:  nil %>
        	<%= f.hidden_field :status, value: 'ordered' %>
        	<%= f.hidden_field :pickup_or_delivery, value: 'pickup' %>
        	<%= f.hidden_field :line_items, value: cart.line_items %>
        	<%= f.submit "Complete My Order", class: "btn btn-success btn-lg" %>
        <% end %>
    <% else %>
		<h1></h1>
    	<a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addressModal">Enter Your Delivery Information</a></li>
   		<%= render partial: 'shared/delivery_address_form' %>
 	<% end %>

  <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cart.line_items.each_pair do |item_id, quantity | %>
        <tr>
          <td><%= link_to "#{(find_item(item_id).title)}", item_path(item_id)  %></td>
          <td><%= number_to_currency(find_item(item_id).price) %></td>
          <td><h6><%= quantity %></h6></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
      <tbody>
        <th></th>
        <th></th>
        <th class="order-totals">Total Items Ordered</th>
        <th class="order-totals">Total Price</th>
        <tr>
          <td></td>
          <td></td>
          <td class="order-totals"><%= past_order_quantity(cart.line_items) %></td>
          <td class="order-totals"><%= number_to_currency(past_order_total(cart.line_items))  %></td>
        </tr>
      </tbody>
    </table>
</div>
</div>

