


<div class="container">
  <h1 class="page-header">Your Order Is Complete!</h1>
  <h3>Order Status: <%= @order.status %></h3>
  <h5>Date Ordered:<%= time_tag(@order.created_at) %></h5>

  <div class="edit-users-container">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Date Ordered</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% order_items(@order.line_items).each_pair do |item_id, quantity | %>
        <tr>
          <td><%= link_to "#{(find_item(item_id).title)}", item_path(item_id)  %></td>
          <td><%= find_item(item_id).price %></td>
          <td><%= quantity %></td>
          <td><%= line_item_subtotal(item_id, quantity) %></td>
          <td><%= time_tag(@order.created_at) %></td>

          <%#= form_tag("/line_items/#{item_id}", method: :put) do %>
          <td><%#= number_field_tag("quantity", quantity, in: 1..20, value: quantity) %><%#= submit_tag "Save Changes" %></td>
          <td><%#= find_item(item_id).price %></td>
          <td><%#= line_item_total(item.id, quantity) %></td>
          <td><%#= link_to "Remove from Cart", line_item_path(item_id), method: :delete, data: { confirm: "Are you sure?"} %></td>
        </tr>
      </tbody>
      <tbody>
      <% end %>

        <th></th>
        <th></th>
        <th class="order-totals">Total Items Ordered</th>
        <th class="order-totals">Total Price</th>
        <tr>
          <td></td>
          <td></td>
          <td class="order-totals"><%= past_order_quantity(@order.line_items) %></td>
          <td class="order-totals"><%= past_order_total(@order.line_items)  %></td>
        </tr>
      </tbody>
    </table>
    <td><%= link_to 'Return to Menu', root_path, class: "btn btn-default" %></td>
  </div>


</div>

