<div class="container">
  <h1 class="page-header">Order Details</h1>
  <h3>Order Status: <%= @order.status %></h3>
  <h3>Order ID: <%= @order.id %></h3>
  <h5>Date Ordered:<%= time_tag(@order.created_at) %></h5>
  <div class="edit-users-container">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each_pair do |item_id, quantity | %>
        <tr>
          <td><%= link_to "#{(find_item(item_id).title)}", item_path(item_id)  %></td>
          <td><%= number_to_currency(find_item(item_id).price) %></td>
          <td><%= form_tag("/orders/#{item_id}", method: :put) do %>
            <%= hidden_field_tag "item_id", item_id %>
            <%= number_field_tag("quantity", quantity, in: 1..20, value: quantity) %>
            <%= submit_tag "Save", class: "btn btn-primary" %>
          <% end %></td>
          <td data-th="Subtotal">$<%= cart.line_item_total(item_id, quantity) %>
          <td><%= link_to "Remove", line_item_path(item_id), method: :delete, class: "btn btn-danger btn-sm" %></td>
        </tr>


      </tbody>

      <tbody>
        <th></th>
        <th></th>
        <th class="order-totals">Total Items Ordered</th>
        <th class="order-totals">Total Price</th>
        <tr>
          <td></td>
          <td></td>
          <td class="order-totals"><%= past_order_quantity(@order.line_items) %></td>
          <td class="order-totals"><%= number_to_currency(past_order_total(@order.line_items))  %></td>
        </tr>
      </tbody>
    </table>

    <% end %>

    <% if @order.status == "ordered" && current_user.id == @order.user_id %>
      <%= link_to 'Pay with Credit Card', new_charge_path(id: @order), class: 'btn btn-success' %>
    <% end %>
    <% if user_admin? %>
      <%= link_to 'Return to Orders', orders_path, class: "btn btn-default" %>
    <% else %>
      <%= link_to 'Return to Menu', root_path, class: "btn btn-default" %>
      <% unless @order.status == 'cancelled' %>
        <%= link_to 'Cancel This Order', order_path(@order, :status => :cancelled), method: 'patch', class: 'btn btn-danger', confirm: {message: 'This will remove your order permanently. '}%>
      <% end %>
    <% end %>
  </div>
</div>
