<h1>Your Order Is Complete!</h1>

  <ul>
    <h4><%= label_tag 'Customer Name: ' %><%= current_user.name %></h4>
    <h4><%= label_tag 'Order Status: ' %><%= @order.status %></h4>
    <h4><%= label_tag 'Youll get your food via '%><%= @order.pickup_or_delivery %>
    <% if @order.pickup_or_delivery == 'delivery' %>
      <h4><%= label_tag 'Street: ' %><%= @address.street_number %>&nbsp<%= @address.street %></h4>
      <h4><%= label_tag 'City: ' %><%= @address.city %></h4>
      <h4><%= label_tag 'State: ' %><%= @address.state %></h4>
      <h4><%= label_tag 'Zipcode: ' %><%= @address.zip %></h4>
    <% end %>

  </ul>
