<div class="container">
<br>
<br>
<br>
  <h1 class="page-header">Admin Options</h1>

  <div class="edit-users-container">
    <h1>Edit Users</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Admin</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user|  %>

          <tr>
          <td><%= user.name %></td>
          <td><%= time_ago_in_words(user.created_at) %></td>
          <td><%= user.admin %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'destroy', admin_user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
        </tr>
    <% end %>
        </tbody>
    </table>
  </div>



  <div class="edit-items-container">
    <h1>Edit Items</h1>

    <p><%= link_to "Create a new item", new_admin_item_path, id: "new_item_button", class: "btn-lg btn-success" %></p>

    <% @categories.each do |category| %>

      <h3><%= category.title %></h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Status</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% category.items.each do |item| %>
            <tr>
              <td><img src="<%= item.image(:thumb) %>"></td>
              <td><span class="item_title"><%= item.title %><span><td><%= number_to_currency(item.price) %></td></td>
              <td><%= item.status %></td>
              <td><%= link_to 'Edit', edit_admin_item_path(item), class: "btn btn-warning" %></td>
              <td><%= link_to 'Destroy', admin_item_path(item), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>


  <div class="edit-categories-container">
    <h2>Edit Categories</h2>

    <p><%= link_to "Create a New Category", new_admin_category_path, id: "new_item_button" , class: "btn-lg btn-success"%></p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="admin_categories_edit_table">
        <% @categories.each do |category| %>
          <tr>
            <td><span class="item_title"><%= category.title %><span></td>
            <td><%= category.description %></td>
            <td><%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-warning" %></td>
            <td><%= link_to 'Destroy', admin_category_path(category), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

</div>
