
<%= render "carousel" %>

<div id="masthead">
  <div class="container">
      <div class="row">
        <div class="col-md-7 page-header">
          <h1>Frita Menu</h1>
          </h1>
        </div>
      </div>
  </div><!--/container-->
</div><!--/masthead-->

<!--main-->
<div class="container">
	<div class="row">

      <!--left-->

      <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
        	 <% @categories.each do |category| %>
              	<li><a href="#sec<%= category.id %>", ><%= category.title %></a></li>
               <% end %>
       </ul>
      </div><!--/left-->


      <!--right-->
       <div class="col-md-9">

    <% @categories.each do |category| %>
  <div class="category_title"><h2 id="sec<%= category.id %>" class="category_titles"><%= category.title %></h2>
</div>
  <div class="row">
    <% available_items(category.items).each do |item| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail",  id="menu_items">
        <a href="<%= item_path(item) %>"><img src="<%= item.image(:medium) %>", class="img-responsive img-rounded", id="menu_item_pics"></a>
        <div class="caption">
          <h3><%= item.title %></h3>
          <%= form_tag line_items_path do %>
            <%= number_field :quantity, "quantity", in: 1..20, value: 1 %>
            <%= hidden_field_tag :id, item.id %>
            <a href="#" class="btn btn-default disabled" role=""><%= number_to_currency(item.price) %></a>
            <%= submit_tag "Add to Cart", class: "btn btn-success" %>
          <% end %>

        </div>
      </div>
    </div>
    <% end %>

        </div>
        <% end %>
        </div><!--/right-->


  	</div><!--/row-->



</div><!--/container-->
