<%= form_for(@item, html: {multipart: true}) do |f| %>
<p><%= f.text_field :title, :id => 'title', placeholder: "Title" %></p>
<p><%= f.text_area :description, :id => 'description', placeholder: "Description" %></p>
<p><%= f.text_field :price, :id => 'price', placeholder: "Price" %></p>
<p>
  <%= f.label :image, "Attach an Image" %><br />
  <%= f.file_field :image %>
</p>

<%= f.submit "Save Item", :id => 'save' %>
<% end %>
