<div  class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <br>
      <br>
      <br>
      <h1>Edit Category</h1>
      <%= bootstrap_form_for(@category, url: admin_category_path ) do |f| %>
      <%= f.text_field :title, :id => 'title', placeholder: "Title" %>
      <%= f.text_area :description, :id => 'description', placeholder: "Description" %></p>

      <%= f.submit "Save Category", :id => 'save', class: "btn btn-success" %>
      <%= link_to "Back", admin_path, class: "btn btn-default" %>
    </div>

    <% end %>
  </div>

</div>
