<!DOCTYPE html>
<html>
  <head>
    <title>DinerNinjaDash</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/flash_messages' %>
    <section class="main-content">
      <nav>
        <% if current_user %>
          <%= link_to 'Logout', logout_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', login_path %> |
          <%= link_to 'New Account', new_user_path %>
        <% end %>
      </nav>
      <%= yield %>
      <header>
        <h1>Frita</h1>
      </header>
    </section>
  </body>
</html>
